{%extends 'layout.html'%}
{% block main%}
<div class="adminCon">
    <ul class="clearfix">
        <li class="con-li1">
            <a href="/admin">
                <p>后台管理</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
        <li class="con-li2">
            <a href="/admin/user">
                <p>用户管理</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
        <li class="con-li3">
            <a href="/admin/category">
                <p>分类首页</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
        <li class="con-li4">
            <a href="/admin/category/add">
                <p>添加分类</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
        <li class="con-li5">
            <a href="/admin/content">
                <p>内容首页</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
        <li class="con-li6">
            <a href="/admin/content/add">
                <p>添加内容</p>
                <div class="down">
                    <em></em>
                    <span>点击进入</span>
                </div>
            </a>
        </li>
    </ul>

</div>
{%endblock%}